<div class="banner text-center mb-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1225&q=80);">
  <div class="container">
    <h1 class="justify-center">Welcome to the Filmverse</h1>
  </div>
</div>


  <div class="cards">
  <% @lists.each do |list| %>
    <div class="mb-2 card-category text-center " style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to list.name, list_path(list) %>
    </div>
    <% end %>
  </div>
